
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --cor-verde: #009933;
  --cor-cinza: #545454;
  --cor-azul-Padrao: #4A90E2;
}
body{
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}
.body{
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#general{
  width: 800px;
  border-radius: 40px;
}
#step{
  width: 60px;
  height: 60px;
}
.steps hr{
  width: 90px;
  border: 0.1em solid blue;
}

.steps .hr{
  width: 90px;
  border: 0.09em solid var(--cor-verde);
}
.step1{
  width: 60px;
  height: 60px;
  background-color: var(--cor-verde);
}
.step1 svg{
  width: 30px;
  height: 30px;
}
#inputs{
  height: 50px;
  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #ECECEC;
}
#transaction{
  width: 90%;
  height: 50px;
  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #ECECEC;
}
::placeholder{
  color: var(--cor-cinza);
}
#buttons button{
  width: 45%;
  height: 45px;
  padding: 0 15px;
  border-radius: 25px;
  border: none;
  outline: none;
}
#buttons button svg{
  width: 30px;
  height: 30px;
  color: white;
}
#buttons{
  width: 70%;
}

#registration{
  width: 95%;
}
#institute, #course{
  height: 50px;
  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #ECECEC;
}
:first-child{
  color: #545454;
  font-weight: 600;
}
#course:first-child{
  color: #545454;
  font-weight: 600; 
}
img{
  width: 60px;
  height: 60px;
}
@media (max-width: 575px){
  #buttons{
      width: 100%;
  }
}
@media (max-width: 400px){
  .steps hr{
      width: 60px;
  }
  #buttons button{
      width: 60%;
      font-size: 12pt;
  }
  #buttons button svg{
      width: 20px;
      height: 20px;
  }
}
